.setnum{
    margin-top: 50px;
    margin-left: 20px;
}
.edit{
    margin-left: 5px;
}
.edit1{
    margin-top: -65px;
    margin-left: 830px;
}
.edit2{
    margin-top: -45px;
    margin-left: 880px;
}